@model PagedList.IPagedList<VinaShoseShop.Models.Hangsanxuat>

@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    var pageNumber = Model.PageNumber;
    var pageSize = Model.PageSize;
    var startIndex = (pageNumber - 1) * pageSize + 1;
}

<h2>Quản lý nhãn hàng</h2>



    <input id="searchInput" class="form-control" type="text" placeholder="Tìm kiếm..."
    aria-label="Tìm kiếm" aria-describedby="basic-addon2" style="width: 200px; height: 30px;" />

<a  style="margin-left:1200px;position:absolute" href="/Admin/Hangsanxuats/Create" class="btn btn-primary">Add</a>
<br /><br />
<table class="table table-hover table-bordered">
    <tr>
        <th>STT</th>
        <th>
            Mã hãng
        </th>
        <th>
            Tên hãng
        </th>
        <th>Hành động</th>
    </tr>
    @{
        var i = 1;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>@i</td>
            <td>
                @Html.DisplayFor(modelItem => item.Mahang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenhang)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.Mahang })" class="btn btn-sm btn-outline-warning">Sửa</a>
                <a href="@Url.Action("Delete", new { id = item.Mahang })" class="btn btn-sm btn-outline-danger">Xoá</a>
                <a href="@Url.Action("Details", new { id = item.Mahang })" class="btn  btn-sm btn-outline-success">Chi tiết</a>
            </td>
        </tr>
        i++;
    }

</table>
<br />

    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

    <script>
        document.getElementById("searchInput").addEventListener("input", function () {
            var searchValue = this.value.toLowerCase();
            var itemsToFilter = document.querySelectorAll("table.table-bordered tr");
            itemsToFilter.forEach(function (row) {
                var cells = row.querySelectorAll("td");
                var matchFound = false;

                cells.forEach(function (cell) {
                    var textContent = cell.textContent.toLowerCase();
                    if (textContent.includes(searchValue)) {
                        matchFound = true;
                    }
                });

                if (matchFound) {
                    row.style.display = "table-row";
                } else {
                    row.style.display = "none";
                }
            });
        });
    </script>

