@model PagedList.IPagedList<VinaShoseShop.Models.Donhang>

@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    var pageNumber = Model.PageNumber;
    var pageSize = Model.PageSize;
    var startIndex = (pageNumber - 1) * pageSize + 1;
}

<h2>Quản lý đơn hàng</h2>

<h2>
    <input id="searchInput" class="form-control" type="text" placeholder="Tìm kiếm..."
           aria-label="Tìm kiếm" aria-describedby="basic-addon2" style="width: 200px; height: 30px;" />
</h2>

<table class="table table-bordered">
    <tr>
        <th>STT</th>
        <th>
            Mã đơn
        </th>
        <th>
            Ngày đặt
        </th>
        <th>
            Mã người dùng
        </th>
        <th>
            Tên người dùng
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Tình trạng
        </th>

        <th> Hành động</th>
    </tr>
    @{
        var i = startIndex;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>@i</td>
            <td>
                @Html.DisplayFor(modelItem => item.Madon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaydat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manguoidung)
            </td>
            @{
                var users = ViewBag.UserList as List<VinaShoseShop.Models.Nguoidung>;
                var user = users.FirstOrDefault(pq => pq.Manguoidung == item.Manguoidung);
                if (user != null)
                {
                    <td>

                        @user.Hoten
                    </td>
                    <td>
                        @user.Diachi
                    </td>
                }
                else
                {
                <td>
                    Không có tên người dùng 
                </td>
                <td>

                    Không có địa chỉ 
                </td>
                    }
                }
            <td>
                @if (item.Tinhtrang == 1)
                {
                    <span>Đã đặt hàng,chờ giao hàng</span>
                }
                else if (item.Tinhtrang == 2)
                {
                    <span>Đã Xác nhận,Chờ giao hàng</span>
                }
                else if (item.Tinhtrang == 3)
                {
                    <span>Đã nhận hàng</span>
                }
                else if (item.Tinhtrang == 4)
                {
                    <span>Đã hủy</span>
                }
                else
                {
                    <span>Không xác định</span>
                }
            </td>

            <td>
                <a href="javascript:void(0);" class="btn btn-sm btn-info" onclick="redirectToDetails(@item.Madon)">Chi tiết</a>
                <a class="btn btn-sm btn-danger" href="@Url.Action("Cancel", new { id = item.Madon })">Hủy đơn</a>
                <a class="btn btn-sm btn-primary" href="@Url.Action("Delivery", new { id = item.Madon })">Giao hàng</a>

            </td>

        </tr>
        i++;
    }

</table>

<!-- Thêm mã phân trang -->
<br />

    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
                            new { page }))
    <script>
        function redirectToDetails(Madon) {
            window.location.href = "/Admin/Chitietdonhangs?Madon=" + Madon;
        }
    </script>

    <!-- Kết thúc --