@using VinaShoseShop.Models;
@model List<GioHang>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center><h2 class="text-info">GIỎ HÀNG</h2></center>

<table class="table-bordered font-italic divGioHang">
    <tr>
        <th>Mã SP</th>
        <th>Tên SP</th>
        <th>Ảnh bìa</th>
        <th>Đơn giá</th>
        <th>Size</th>
        <th>Số lượng</th>
        <th>Thành tiền</th>
        <th>Thao tác</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.iMasp</td>
            <td>@item.sTensp</td>
            <td><img src="@Url.Content("~/HinhanhSP/" + item.sAnhBia)" width="50" height="50" /></td>
            <td>@String.Format("{0:0,0}", item.dDonGia) VNĐ</td>
            <!--<td>-->
                @* Hiển thị dropdown list để chọn size từ 36 đến 45 *@
                <!--@using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @iMaSP = item.iMasp, @size = item.Size }, FormMethod.Post))
                {
                    <select name="txtSize" class="form-control">
                        @for (int size = 36; size <= 45; size++)
                        {
                            <option value="@size.ToString()" @(item.Size == size.ToString() ? "selected" : "")>Size @size</option>
                        }
                    </select>
                    <br />
                    <input type="submit" value="Cập nhật" class="btn btn-secondary" />
                }
            </td>-->
            @* Form để cập nhật số lượng sản phẩm *@
            @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @iMaSP = item.iMasp, @size = item.Size }, FormMethod.Post))
            {
                <td>
                    <select name="txtSize" class="form-control">
                        @for (int size = 36; size <= 45; size++)
                        {
                            <option value="@size.ToString()" @(item.Size == size.ToString() ? "selected" : "")>Size @size</option>
                        }
                    </select>
                    <br />
                </td>
            

                <td>@Html.TextBox("txtSoLuong", item.iSoLuong, new { @class = "form-control", @style = "width:50px;" })</td>
                <td>@String.Format("{0:0,0}", item.ThanhTien) VNĐ</td>
                <td>
                    <input type="submit" value="Cập nhật" class="btn btn-warning" />
           
                    @* Button để xóa sản phẩm khỏi giỏ hàng *@
                    <a href="/GioHang/XoaGioHang?iMaSP=@item.iMasp" class="btn btn-danger">Delete</a>
@*                    <button class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này khỏi giỏ hàng không?');">@Html.ActionLink("Xóa", "XoaGioHang", new { @iMaSP = item.iMasp, @size = item.Size }, new { @class = "text-white" })</button>
*@                </td>
            }
        </tr>
    }
</table>

<style type="text/css">
    .divGioHang {
        border: 2px solid #EEEEEE;
        margin-left: 10%;
        font-size: large;
    }

        .divGioHang td {
            padding: 10px;
            border: 2px solid #EEEEEE;
            text-align: center;
        }

        .divGioHang th {
            text-align: center;
        }
</style>
