@model PagedList.IPagedList<VinaShoseShop.Models.Nguoidung>

@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    var pageNumber = Model.PageNumber;
    var pageSize = Model.PageSize;
    var startIndex = (pageNumber - 1) * pageSize + 1;
}

<h2>Quản lý người dùng</h2>

<h2>
    <input id="searchInput" class="form-control" type="text" placeholder="Tìm kiếm..."
           aria-label="Tìm kiếm" aria-describedby="basic-addon2" style="width: 200px; height: 30px;" />
</h2>
<a style="margin-left:1200px;position:absolute" href="/Admin/Nguoidungs/Create" class="btn btn-primary">Add</a>
<br />
<br />
<table class="table table-hover table-bordered">
    <tr>
        <th>STT</th>
        <th>
            Họ tên
        </th>
        <th>
            Email
        </th>
        <th>
            Điện thoại
        </th>
        <th>
            Mật khẩu
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Phân quyền
        </th>
        <th> Hành động</th>
    </tr>
    @{
        var i = startIndex;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>@i</td>
            <td>
                @Html.DisplayFor(modelItem => item.Hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dienthoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matkhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @{
                    var phanquyens = ViewBag.PhanQuyenList as List<VinaShoseShop.Models.Phanquyen>;
                    var phanquyen = phanquyens.FirstOrDefault(pq => pq.IDQuyen == item.IDQuyen);
                    if (phanquyen != null)
                    {
                        @phanquyen.TenQuyen
                    }
                }
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.Manguoidung })" class="btn btn-sm btn-outline-warning">Sửa</a>
                <a href="@Url.Action("Delete", new { id = item.Manguoidung })" class="btn btn-sm btn-outline-danger">Xoá</a>
                <a href="@Url.Action("Details", new { id = item.Manguoidung })" class="btn  btn-sm btn-outline-success">Chi tiết</a>
            </td>
        </tr>
        i++;
    }

</table>

<!-- Thêm mã phân trang -->
<br />

    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
                        new { page }))

    <!-- Kết thúc -->
    <script>
        document.getElementById("searchInput").addEventListener("input", function () {
            var searchValue = this.value.trim().toLowerCase();
            var rowsToFilter = document.querySelectorAll("table.table-bordered tr:not(:first-child)");

            rowsToFilter.forEach(function (row) {
                var cells = row.querySelectorAll("td");
                var matchFound = false;

                cells.forEach(function (cell) {
                    var textContent = cell.textContent.trim().toLowerCase();
                    if (textContent.includes(searchValue)) {
                        matchFound = true;
                    }
                });
                if (matchFound) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            });
        });
    </script>